services:
  - type: web
    name: critical-raw-materials-dashboard
    env: python
    region: frankfurt
    plan: free

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: |
      streamlit run Startseite.py --server.port $PORT --server.address 0.0.0.0

    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: PYTHON_VERSION
        value: 3.10